<div class="card">
  <div class="inner">
    {{#if this.ImgUrls}}
    <section class="image-container">
      <a href="{{this.ProductUrl}}">
        <img class="productsImage" src="{{this.ImgUrls.[0]}}">
      </a>
    </section>
    {{/if}}
    <article class="text-xs-center more-info">
      <header>
        {{#if this.ProductName}}
        <h1 class="product-title">
            <a href="{{this.ProductUrl}}">{{this.ProductName}}</a>
        </h1>
        {{/if}}
        {{#if this.ProductCustomData.price}}
         <h3>{{this.ProductCustomData.price}} &euro;</h3>
        {{/if}}
      </header>
    </article>
  </div>
</div>