<div class="card">
  <div class="inner">
    {{#if this.ImgUrls}}
    <section class="image-container">
      <a href="{{this.ProductUrl}}">
        <img class="productsImage" src="{{this.ImgUrls.[0]}}">
      </a>
      {{!-- {{#if this.ProductCustomData.description}}
      <section class="hover-all text-center product-description">
        <p>
          <small>{{this.ProductCustomData.description}}</small>
        </p>
      </section>
      {{/if}} --}}
    </section>
    {{/if}}
    <article class="text-xs-center text-md-left">
      <header>
        {{#if this.ProductName}}
        <h4 class="product-title bold">
          {{this.ProductName}}
        </h4>
        {{/if}}
      </header>
      {{#if this.ProductCustomData.price}}
       <p>{{this.ProductCustomData.price}} &euro;</p>
      {{/if}}
    </article>
  </div>
</div>